<link rel="stylesheet" href="/css/front/about.css">
<article>
    <h2>關於台一</h2>
    <%= render "about_sidemenu" %>
    <section>      
      <h3><%=t("about-concept.title_four")%></h3>
      <div class="content">
      <p>
	      <%=simple_format(t("about-concept.title_four_content")) %>
      </p>
      </div>
    </section>
  </article>