<link rel="stylesheet" href="/css/front/about.css">
<style>
article h2{background:url(<%= t("env.img_url.ab-01") %>) center 0 no-repeat}
</style>
<article>
    <h2>關於台一</h2>    
    <%= render "about_sidemenu" %>
    <section>
      <h3><%=t("about-organization.main_title")%></h3>      
      <div class="content">
      	<img src="<%=t("about-organization.org_img_url")%>">   	
      </div>
    </section>
  </article>
