<link rel="stylesheet" href="/css/front/about.css">
 <article>
    <h2><%=t("about-group.main_title")%></h2>    
    <%= render "about_sidemenu" %>
    <section>
      <h3></h3>      
      <div class="content">
      	<img src="<%=t("about-group.group_img_url")%>">
      </div>
    </section>
  </article>
