<link rel="stylesheet" href="/css/front/plant-2.css">
<style>
article h2{background:url(<%= t("env.h2images.hc") %>) center 0 no-repeat}
article section .content { padding: 0 0 80px 55px }
</style>
<article>
    <h2>觀音廠電線電纜事業介紹</h2>
    <%= render "plant_sidemenu" %>
    <%= render "hsinchu_sidemenu" %>
    <section>      
      <%=  t("hsinchu-research.all").html_safe %>
    </section>
  </article>

