<link rel="stylesheet" href="/css/front/human.css">
 <article>
    <h2>關於台一</h2>
    <%= render "human_sidemenu_tw" %>
	  <section>
      <h3><%= t("human-taiwan-3.main_title") %></h3>
      <div class="content"> <%= t("human-taiwan-3.subtitle") %>
              <%= simple_format( t("human-taiwan-3.info") )%>
      </div>
    </section>
  </article>
