<link rel="stylesheet" href="/css/front/news.css">
<article>
    <h2>最新消息</h2>
    <section data-no-turbolink> 

		<div class="left" >
				<%= render 'sidemenu' %>
		</div>
		
    <div class="right" id="newscontainer" >
	    
    </div>

    </section>

</article>

<% if !@default_news.nil? %>
<script type="text/javascript">
	
	$(function() {
			
			$.ajax({
      type: "GET",
      url: "/announcements/"+<%= @default_news.id %>+"/fetch",
      data: { },
      success: function(data){

        return false   
      },
      error: function(data){

        return false  
      }
    });
					
		  	
  });  


	</script>
	
<% end %>
	