<% if !@hq_result.nil? && @hq_result.count > 0 %>
<ul>
	<% @hq_result.each do | result | %>
		<li>
		  <%= link_to "#{result.name}", hqlevel_path(@hq_root_node, locale: I18n.locale, product: result.id )%>
		</li>
	<% end %>
</ul>
<% end %>

<br>

<% if !@br_result.nil? && @br_result.count > 0 %>
<ul>
	<% @br_result.each do | result | %>
		<li>
		 <%= link_to "#{result.name}", brlevel_path(@br_root_node, locale: I18n.locale, product: result.id )%>
		</li>
	<% end %>
</ul>
<% end %>