<%# VAR %>
<%# target_title: display name for user %>
<%# target: object %>
<%# type: gallery type %>
<table width="100%" border="0" cellspacing="0" cellpadding="0">  
  <% target.attachments.each_with_index do |attach, i| %>
    <tr>
      <td width="7%">圖片：</td>
      <td width="93%">
        <div class="thumb"> 
          <%= link_to '', admin_attachment_path(attach.id), method: :delete, data: { confirm: '確認刪除?' }, class: 'delete', title: '刪除' %>
          <image src=<%= "#{attach.attachment.url}" %> />
        </div>
      </td>
    </tr>         
  <% end %>  
</table>