
/*-----------------------------------------------------------------------頁身---*/

#wrapper > article{padding:102px 0 0 0}

/*-----------------------------------------------------------------------大標---*/

article h2{background:url(../images/ab-01.png) center 0 no-repeat}

/*-----------------------------------------------------------------------側欄---*/

article aside{float:left;width:33%;padding:60px 40px 60px 0;text-align:right}
article aside ul{width:261px;display:inline-block;text-align:left}
article aside li{width:100%;border-top:1px solid #E5E5E5;background:url(../images/ab-02.jpg) center 0 no-repeat #fff}
article aside li > a{display:block;width:100%;background:url(../images/ab-03.png) 30px 19px no-repeat;
color:#095368;font-size:17px;padding:12px 0 12px 60px}
article aside ul li.active{background:url(../images/ab-02h.png) 0 0 no-repeat}
article aside ul li:hover > a,
article aside ul li.active > a{background:url(../images/ab-03h.png) 30px 19px no-repeat;color:#106AB7}

/*-----------------------------------------------------------------------子選單---*/

article aside .sub{padding:15px 0;background:url(../images/ab-02.jpg) center 0 no-repeat #fff}
article aside .sub > a{display:block;width:100%;background:url(../images/ab-11.png) 30px 12px no-repeat;
padding:5px 0 5px 60px;color:#555}
article aside .sub > a:hover,
article aside .sub a.active{background:url(../images/ab-11h.png) 30px 12px no-repeat;color:#106AB7}

/*-----------------------------------------------------------------------內容---*/

article section{float:right;width:67%;padding:35px 120px 35px 0;line-height:1.6em;
color:#555;position:relative;z-index:1;background:#F6F6F3;font-size:1.1em;min-height: 865px
}

/*-----------------------------------------------------------------------小標---*/

article section h3{color:#095368;border-left:6px solid #7CAB2B;font:300 26px 微軟正黑體,Microsoft JhengHei;
padding:0 0 0 16px;margin:20px 0 10px 0}
article section h4{color:#00a1a9;padding:0 0 0 21px;margin:10px 0 10px 0;font:300 20px 微軟正黑體,Microsoft JhengHei}
article section h5{font:900 15px 微軟正黑體,Microsoft JhengHei;color:#222;margin:10px 0;line-height:1.4em;}

/*-----------------------------------------------------------------------小標---*/

article section .content{padding:0 0 20px 22px}
article section b{font:300 20px 微軟正黑體,Microsoft JhengHei;margin:15px 0 0 0;display:inline-block;}
article section li{padding:0 0 0 17px;background:url(../images/ab-07.png) 0 12px no-repeat}
article section .box{position:absolute}

