
/*-----------------------------------------------------------------------頁身---*/

#wrapper > article{padding:102px 0 0 0}

/*-----------------------------------------------------------------------大標---*/

article h2{background:url(../images/ct-01.png) center 0 no-repeat}

/*-----------------------------------------------------------------------內容---*/

article section{padding:60px 0 120px 0;line-height:1.6em;
color:#555;position:relative;z-index:1;background:#F6F6F3}

article section > table{width:933px;margin:0 auto}
article section > table img{box-shadow:0 0 10px #aaa;}
article section > table td{padding:0 0 50px 0;}
article section > table td a{color:#1e83f3;}
article section > table td a:hover{text-decoration: underline;}

article > ul{position:fixed;top:290px;margin-left:1200px;z-index:5;}
article > ul li{margin:10px 0;}
article > ul li:hover{opacity:.5;filter:alpha(opacity=50);}

/*-----------------------------------------------------------------------小標---*/

article section h3{color:#555;border-left:4px solid #2caaf3;font:300 22px 微軟正黑體,Microsoft JhengHei;
padding:0 0 0 16px;margin:0 0 20px 0}
article section h4{color:#555;margin:0 0 20px 0;font:300 20px 微軟正黑體,Microsoft JhengHei}
article section h5{font:900 15px 微軟正黑體,Microsoft JhengHei;color:#222}



