
body{background:#D2D2D1}

#wrapper > header{height:auto!important;}
#banner{height:539px;}
#banner div,
#banner ul,
#banner li{height:100%;}
#banner .bx-wrapper{padding:0}

#banner li{overflow:hidden;}
#banner li a{height:100%;width:33.3%;float:left;display:block;text-indent:-9999px;font-size:0%;}

#intro{overflow:hidden;position:relative;padding:55px 0 0 470px;height:415px}
#intro h3{background:url(../images/id-05.jpg) 0 bottom no-repeat;font:300 20px 微軟正黑體,Microsoft JhengHei;
padding:0 0 10px 0}
#link{position:absolute;top:315px;left:210px}
#link:hover{top:313px}
#faith,#news{width:285px;float:left;margin:0 75px 0 0}
#faith td{border-bottom:1px solid #B3E4EA;padding:10px 0}
#faith b{font:900 16px 微軟正黑體,Microsoft JhengHei}
#news td{height:85px;padding:5px 0 15px 0;background:url(../images/id-05.jpg) 0 bottom no-repeat}
#news span{color:#484848;font-size:12px}
#news a{color:#2e4376}
#news a:hover{color:#526490}


#product{box-shadow:0 -5px 5px #eee}
#product ul{background:url(../images/id-12.jpg) repeat-x;height:151px;overflow:hidden;padding:0 118px}
#product li{width:174px;height:100%;float:left}
#product li a{display:block;width:100%;height:100%;text-align:center;color:#aa1414;
padding:100px 0 0 0;font-size:22px;cursor: pointer;}
#product li a:hover{color:#e34d4d;}
#tab-1 a{background:url(../images/id-06.png) center 58px no-repeat}
#tab-2 a{background:url(../images/id-07.png) center 51px no-repeat}
#tab-3 a{background:url(../images/id-08.png) center 26px no-repeat}
#tab-4 a{background:url(../images/id-09.png) center 31px no-repeat}
#tab-5 a{background:url(../images/id-10.png) center 45px no-repeat}
#tab-6 a{background:url(../images/id-11.png) center 36px no-repeat}

#tab .active_bg{background:url(../images/id-13.jpg) top center no-repeat;}
.bx-wrapper{background:url(../images/id-14.jpg) 0 0 no-repeat;height:470px;padding:80px 0 0 0;}

#item-box table{width:790px;margin:0 auto}
#item-box h4{font:300 24px 微軟正黑體,Microsoft JhengHei}
#item-box a{color:#007996}
#item-box a span{font:900 11px verdana;color:#009AB2;margin:0 0 0 5px}
#item-box a:hover{color:#0E414D}
	

#scope{position:relative;height:577px;background:#fff;padding:30px 0}

#pin li{width:8px;height:8px;position:absolute;z-index:2}
#pin li a{display:block;width:100%;height:100%}
#pin li img{display:none;position:absolute;top:-70px;left:-25px}
#pin li:hover img{display:block}
#pin-1{top:203px;left:321px}
#pin-2{top:208px;left:310px}
#pin-3{top:175px;left:439px}
#pin-6{top:157px;left:455px}
#pin-5{top:165px;left:446px}
#pin-4{top:168px;left:457px}
#pin-7{top:155px;left:465px}
#pin-8{top:236px;left:427px}
#pin-9{top:244px;left:436px}
#plant-box{position:relative;z-index:1;
width:1019px;height:100%;margin:0 auto;color:#484848}
#plant-box h5{background:url(../images/id-04.jpg) 0 center no-repeat;padding:0 0 0 20px;
font:300 17px 微軟正黑體,Microsoft JhengHei;color:#000;line-height:1.7em}
#plant-box h4{color:#fff;font:300 20px 微軟正黑體,Microsoft JhengHei;padding:0px;margin:0 0 38px 0}
#plant-box b{color:#02a3b7}

#plant-box a{color:#007996}
#plant-box a span{font:900 11px verdana;color:#009AB2;margin:0 0 0 5px}
#plant-box a:hover{color:#0E414D}

.left{font-size:13px;padding:270px 0 0 20px;line-height:1.7em}
.right{padding:38px 0 0 87px;font-size:14px;line-height:1.7em}

footer{background-color:#fff}


