
/*-----------------------------------------------------------------------頁身---*/

#wrapper > article{padding:102px 0 0 0}

/*-----------------------------------------------------------------------大標---*/

article h2{background:url(../images/fc-01.png) center 0 no-repeat}

/*-----------------------------------------------------------------------內容---*/

article section{padding:60px 0 35px 0;line-height:1.6em;
color:#555;position:relative;z-index:1;background:#F6F6F3}

#content{width:980px;margin:0 auto;overflow:hidden}
#content div{background:url(../images/fc-02.jpg) 0 0 no-repeat;width:448px;height:198px;
padding:15px;float:left;margin:15px}

#content a{font-size:13px;line-height:1.5em;color:#474747}
#content a:hover table{color:#08a8c0!important;-webkit-transition:all ease .3s;-moz-transition:all ease .3s}
#content h4{color:#08a8c0;font:300 20px 微軟正黑體,Microsoft JhengHei;position:relative;top:-5px}