<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<link rel="stylesheet" href="/css/front/investor.css">
<style>
article aside ul li.active > a { background-image: url(/css/images/ab-03hh.png) }
</style>
<article>
    <h2>關於台一</h2>
    <!-- sidemenu -->
    <%= render  "common/sidemenu" %>
    
     <section>
      <h3>財務預測</h3>
      <h4><%= @currentYear.title %></h4>
      
      <div class="content"  id="articleContent"></div>    
        
        <% if @currentYear.attachments.count > 0 %>
        <div class="content">
        <div class="download">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          	<% @currentYear.attachments.each do | attach | %>
            <tr>
              <td width="8%" valign="middle"><img src="/css/images/3c-09.png"></td>
              <td width="92%" valign="top">附件下載：<br>
              	<%= link_to attach.file_name, attach.attachment.url %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <% end %>
      
      <input id="article_content" style="display:none;" type="text" value="<%= @currentYear.article.content %>">
      
    </section>
</article>

<script type="text/javascript">
	$(document).ready(function(){
			editor.output();	
  });
  $(".sub").show();
</script>
