<link rel="stylesheet" href="/css/front/investor.css">
<article>
    <h2>關於台一</h2>
        <!-- sidemenu -->
    <%= render  "common/sidemenu" %>
   <section>
   	投資人服務 一點進來要show的內容放這裡 <br>或是直接導到公司基本資料頁面
	 </section>
  </article>