<link rel="stylesheet" href="/css/front/investor.css">
<article>
    <h2>關於台一</h2>
    <%= render "common/sidemenu" %>
    <section>
      <h3>公司基本資料</h3>
      <div class="content">
      <b style="color:#00a1a9">
      1.	公司類別：上市公司<br><br>
      2.	產業類別：電器電纜<br><br>
      3.	股票代號：1613<br><br>
      4.	基本資料：</b>
      <br><br>
      <img src="/css/images/iv-02.jpg"> </div>
    </section>
  </article>
