<link rel="stylesheet" href="/css/front/investor.css">
<article>
    <h2>關於台一</h2>
		<%= render "common/sidemenu" %>
    <section>
      <h3>股東服務</h3>
      <h4>股東服務聯絡資訊</h4>
      <div class="content">
      <p>如果您有股務上的問題，請聯繫本公司股務代理人</p>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><div class="card">
                <h5>華南永昌綜合證券股份有限公司 股務代理部</h5>
                <p>地址：台北市松山區民生東路四段54號4樓<br>
電話：886-2-2718-6425<br>
傳真：886-2-2545-3323<br>
網址：<a href="http//www.entrust.com.tw" target="_blank">http//www.entrust.com.tw</a></p>
              </div></td>
          </tr>
      </table>
      </div>
      
    </section>
  </article>
