<link rel="stylesheet" href="/css/front/investor.css">
<article>
    <h2>關於台一</h2>
		<%= render "common/sidemenu" %>    
    <section>
      <h3>股價資訊</h3>
      <div class="content">
      </div>
    </section>
  </article>
