<link rel="stylesheet" href="/css/front/investor.css">
<style type="text/css">
  article h2{background:url(<%= t("env.img_url.iv-01") %>) center 0 no-repeat}
</style>
<article>
    <h2>關於台一</h2>
      		<%= render "common/sidemenu" %>    
    <section>
      <h3>獨立董事</h3>
      <div class="content">
      <h5>本公司獨立董事系屬自願設置，目前設有獨立董事一名，其提名選任及過程如下</h5>
     </div>
     <h4>提名暨選任方式</h4>
     <div class="content">
     	依據證券交易法第十四條之二規定，於公司章程規定，董事名額中，得設獨立董事 1~2 席，且  獨立董事之選任採候選人提名制度；本項章程修訂業經 101 年 3 月 28 日第 8 屆第 15 次董事會及當年度股東常會決議通過。並於 102 年度股東常會召開公告中載明，本屆獨立董事之選舉採候選人提名制，持有本公司已發行股份總數百分之一以上股份之股東，得以書面向本公司提出獨立董事候選人名單。凡欲提名獨立董事之股東，請於 102 年 4 月 1 日至 4 月 10 日止檢附被提名人姓名、學歷、經歷、當選後願任董事之承諾書、無公司法第三十條規定情事之聲明書及其他相關證明文件，以掛號寄（送）達本公司（地址：105 台北市松山區民生東路三段 129 號 10 樓）。</div>
     <h4>提名過程暨候選人資料</h4>
     <div class="content">
     本公司截至提名期間截止，未有持股 1% 以上之股東提名，系由本公司董事會提名並提報 102 年4 月 24 日第 8 屆第 22 次董事會討論，經審查該候選人符合獨立董事相關資格條件，本公司並在同日依法對外公告本屆獨立董事候選人名單如下：<br>
     <br>
     <img src="/css/images/iv-06.jpg">
     </div>
     <h4>選任結果</h4>
     <div class="content">
     本公司於102年6月4日股東常會，提名獨立董事康榮寶，其選任結果如下：<br>
     <br>
     <img src="/css/images/iv-07.jpg"> </div>
    </section>
  </article>
