<link rel="stylesheet" href="/css/front/investor.css">
<style type="text/css">
  article h2{background:url(<%= t("env.img_url.iv-01") %>) center 0 no-repeat}
</style>
<article>
    <h2>關於台一</h2>
			<%= render "common/sidemenu" %>
    <section>
      <h3>聯絡窗口</h3>
      <div class="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><div class="card">
                <h5>發言人</h5>
                <p>
                簡崇碩 經理<br>
電話：886-2-2718-7333 #345<br>
傳真：886-2-2718-0969<br>
Email：<a href="mailto:ivanc@tai-i-int.com.tw" target="_blank">ivanc@tai-i-int.com.tw</a> </p>
              </div></td>
          </tr>
          <tr>
            <td align="center"><div class="card">
                <h5>代理發言人</h5>
                <p>
                高名士 經理<br>
電話：886-2-2718-7333 #456<br>
傳真：886-2-2718-0969<br>
Email：<a href="mailto:eliotk@tai-i-int.com.tw" target="_blank">eliotk@tai-i-int.com.tw</a></p>
              </div></td>
          </tr>
      </table>
     </div>
    </section>
  </article>
