<link rel="stylesheet" href="/css/front/investor.css">
 <article>
    <h2>關於台一</h2>
		    <%= render "common/sidemenu" %>    
  <section>
      <h3>重要公告</h3>
      <div class="content"><br>
      股票代碼：1613<br>
      證券交易所公開資訊觀測站 <a href="http://mops.tse.com.tw" target="_blank">http://mops.tse.com.tw</a> </div>
    </section>
  </article>
