<link rel="stylesheet" href="/css/front/investor.css">
<article>
    <h2>關於台一</h2>
    <%= render "common/sidemenu" %>
    <section>
      <h3>公司治理</h3>
      <div class="content">
      <div class="download">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>            	
              <td width="8%" class="icon"></td>
              <td width="92%" valign="middle">
                <a href="/policy_attach/iv-01.pdf" target="_blank">工作規則.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-02.pdf" target="_blank">內部重大資訊處理作業程序.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-03.pdf" target="_blank">內部稽核組織及運作.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-04.pdf" target="_blank">公司章程.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-05.pdf" target="_blank">取得及處分資產處理程序.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-06.pdf" target="_blank">股東會議事規則.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-07.pdf" target="_blank">國際會計準則IFRS宣導手冊.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-08.pdf" target="_blank">董事及監察人選舉辦法.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-09.pdf" target="_blank">董事會議事規範.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-10.pdf" target="_blank">資金貸與他人及他人背書保證處理程序.pdf</a></td>
            </tr>
            <tr>            	
              <td class="icon"></td>
              <td valign="middle">
                <a href="/policy_attach/iv-11.pdf" target="_blank">薪資報酬委員會規程.pdf</a></td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </article>
