<link rel="stylesheet" href="/css/front/investor.css">
<style>
article h2{background:url(<%= t("env.img_url.iv-01") %>) center 0 no-repeat}
#link{background:url(/css/images/iv-05.jpg) -1px 0 no-repeat;height:389px;
padding:130px 0 0 102px}
#link a{color:#1c94fb}
</style>
<article>
    <h2>關於台一</h2>
  		<%= render "common/sidemenu" %>    
    <section>
      <h3>公開資訊觀測站</h3>
      <div class="content">
      <div id="link">
      台灣證交所　<a href="http://www.tse.com.tw/ch/index.php" target="_blank">http://www.tse.com.tw/ch/index.php</a><br>
      公開資訊站　<a href="http://newmops.tse.com.tw" target="_blank">http://newmops.tse.com.tw</a><br>
      奇 摩 股 市　 <a href="http://stock.yahoo.com.tw" target="_blank">http://stock.yahoo.com.tw</a> </div>
      </div>
    </section>
  </article>
