<header>
  <h2 class="left">每月營收</h2>
	<nav class="left"><a href="<%= editbymonth_admin_monthlyrevenuereport_path(@monthlyrevenuereport, fiscal_month: 1) %>" class="active">今年營收</a><a href="<%= admin_historyrevenuereports_path(@monthlyrevenuereport, fiscal_month: params[:fiscal_month]) %>">歷年營收</a>
</nav>

</header>

<%= render 'editform' %>