<div class="post" id="editorPanel">    
	
</div>
<!--editorPanel-->

<div class="button editorAdd"> <a href="#" class='right highlight'>加入<img src="<%= image_path("down.png") %>"></a> </div>
<!--button-->

<div class="hgroup">
  <h3 class='left'>文章預覽
	  <span>( 段落可恣意拖曳排序 )</span>
	  <div class="button right"></div>
  </h3>
</div>
<!--hgroup-->

<div class="preview" id="articleContent">
</div>
<!--preview-->

