<div class="post" id="editorPanel">    
	
</div>
<!--editorPanel-->

<div class="button editorAdd"> <a href="#" class='right highlight'>加入<img src="<%= image_path("down.png") %>"></a> </div>
<!--button-->
<style>
div ,td, p .noTransition {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
</style>
<div class="hgroup">
  <h3 class='left'>文章預覽
	  <span>( 段落可恣意拖曳排序 )</span>
	  <div class="button right noTransition"></div>
  </h3>
</div>
<!--hgroup-->

<div class="preview noTransition" id="articleContent">
</div>
<!--preview-->

