<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>台一後台管理系統</title>

<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/login.css">
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/auto-full-height.min.js"></script>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<%= yield %>

<div id="footer" _height="none"> Copyright © Summers </div>
</body>
</html>

